a:link {
	color: var(--Black);
}
a:hover {
	color: var(--Purple);
}
.logo {
	font-family: Poppins;
	font-size: 34px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	.mind {
		color: black;
	}
	.azzle {
		color: var(--Purple);
	}
}
nav {
	display: flex;
	flex-direction: column;
	margin-top: 41px;
	margin-left: 101px;
	margin-right: 313px;
	.nav-sub-container {
		display: flex;
		flex-direction: row;
		flex-shrink: 0;
		justify-content: space-between;
		align-items: center;
		#links {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			width: 381px;
			height: 24px;
			.link-container {
				.link {
					font-family: Poppins;
					font-size: 16px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
					text-decoration: none;
				}
				.link.active {
					color: var(--Purple);
				}
			}
		}
	}
}
.call-to-action-container {
	display: flex;
	flex-direction: row;
	margin-top: 86px;
	margin-left: 193px;
	align-items: center;
	height: 700px;
	margin-bottom: 300px;
	.call-to-action {
		display: flex;
		flex-direction: column;
		width: 634px;
		.welcome-msg {
			color: var(--Purple);
			font-family: Poppins;
			font-size: 18px;
			font-style: normal;
			font-weight: 500;
			line-height: 115%; /* 20.7px */
			letter-spacing: -0.36px;
			#app-name {
				font-family: Poppins;
				font-size: 18px;
				font-style: normal;
				font-weight: 700;
				line-height: 115%;
				letter-spacing: -0.36px;
			}
		}
		.call-to-action-title {
			color: var(--Black);
			font-family: Poppins;
			font-size: 70px;
			font-style: normal;
			font-weight: 700;
			line-height: 115%; /* 80.5px */
			letter-spacing: -1.4px;
			width: 555px;
			margin-top: 14px;
		}
		.call-to-action-desc {
			display: flex;
			flex-shrink: 0;
			color: var(---Gray);
			font-family: Poppins;
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: 168.5%; /* 26.96px */
			letter-spacing: -0.64px;
			margin-top: 25px;
		}
		.call-to-action-buttons {
			display: flex;
			margin-top: 46px;
			align-items: center;
			.ios-button {
				display: flex;
				align-items: center;
				width: 257px;
				height: 64px;
				flex-shrink: 0;
				border-radius: 31px;
				background-color: var(--Purple);
				background-image: url('../images/apple_icon.svg');
				background-position: 30px 18px;
				background-repeat: no-repeat;
				color: var(--White);
				font-family: Poppins;
				font-size: 20px;
				font-style: normal;
				font-weight: 600;
				line-height: 115%; /* 23px */
				letter-spacing: -0.4px;
				cursor: pointer;
				#apple-download-text {
					margin-left: 59px;
				}
			}
			.android-button {
				display: flex;
				align-items: center;
				width: 311px;
				height: 64px;
				flex-shrink: 0;
				border-radius: 31px;
				border: 3px solid var(--Purple);
				color: var(--Purple);
				background-image: url('../images/play_store_icon.svg');
				background-position: 35px 20px;
				background-repeat: no-repeat;
				font-family: Poppins;
				font-size: 20px;
				font-style: normal;
				font-weight: 600;
				line-height: 115%; /* 23px */
				letter-spacing: -0.4px;
				margin-left: 20px;
				cursor: pointer;
				#android-download-text {
					margin-left: 65px;
				}
			}
		}
	}
	.game-illustrations {
		display: flex;
		position: relative;
		width: 910px;
		height: 868px;
		.game-two-container {
			position: absolute;
			width: 844.234px;
			height: 933.033px;
			left: -160px;
			flex-shrink: 0;
			background-image: url('../images/phone-2.png');
			background-size: cover;
			background-repeat: no-repeat;
		}
		.game-one-container {
			position: absolute;
			width: 910px;
			height: 868px;
			left: 334px;
			top: 100px;
			flex-shrink: 0;
			transform: rotate(50deg);
			background-image: url('../images/phone-1.png');
			background-size: cover;
			background-repeat: no-repeat;
		}
	}
}
.stats-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 179px;
	.stats-header {
		display: flex;
		color: var(--Purple);
		text-align: center;
		font-family: Poppins;
		font-size: 22px;
		font-style: normal;
		font-weight: 500;
		line-height: 115%; /* 25.3px */
		margin-bottom: 74px;
	}
	.stats {
		display: flex;
		flex-direction: row;
		.stats-category {
			display: flex;
			flex-direction: column;
			padding: 20px 94px;
			border-right: solid 1px var(--Gray);
			.stats-digit {
				color: var(--Black);
				text-align: center;
				font-family: Poppins;
				font-size: 60px;
				font-style: normal;
				font-weight: 700;
				line-height: 115%; /* 69px */
				letter-spacing: -1.2px;
			}
			.stats-label {
				color: var(--Gray);
				text-align: center;
				font-family: Poppins;
				font-size: 22px;
				font-style: normal;
				font-weight: 500;
				line-height: 115%; /* 25.3px */
				letter-spacing: -0.44px;
			}
		}
		.stats-category:last-of-type {
			border-right: none;
		}
	}
}
.portfolio {
	display: flex;
	flex-direction: column;
	display: flex;
	width: 1434px;
	height: 647.001px;
	margin-left: 235px;
	flex-shrink: 0;
	.portfolio-header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 27px;
		#portfolio-title {
			color: var(--Black);
			text-align: center;
			font-family: Poppins;
			font-size: 60px;
			font-style: normal;
			font-weight: 700;
			line-height: 115%; /* 69px */
			letter-spacing: -1.2px;
			margin-bottom: 17px;
		}
		#portfolio-title-desc {
			width: 796px;
			color: var(--Gray);
			text-align: center;
			font-family: Poppins;
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: 168.5%; /* 26.96px */
			letter-spacing: -0.64px;
		}
	}
}
.about {
	display: flex;
	flex-direction: row;
	height: 1106px;
	align-items: center;
	flex-shrink: 0;
	margin-left: 197px;
	.about-text-container {
		flex: 1;
		#about-title-text {
			display: flex;
			color: var(--Purple);
			font-family: Poppins;
			font-size: 18px;
			font-style: normal;
			font-weight: 500;
			line-height: 115%; /* 20.7px */
			letter-spacing: -0.36px;
			margin-bottom: 100px;
		}
		.about-desc {
			display: flex;
			flex-direction: column;
			margin-bottom: 119px;
			#about-desc-title {
				display: block;
				color: var(--Black);
				text-transform: uppercase;
				font-family: Poppins;
				width: 814px;
				margin-bottom: 16px;
				font-size: 60px;
				font-style: normal;
				font-weight: 700;
				line-height: 115%; /* 69px */
				letter-spacing: -1.2px;
			}
			#about-desc-text {
				display: block;
				width: 661px;
				color: var(--Gray);
				font-family: Poppins;
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: 168.5%; /* 26.96px */
				letter-spacing: -0.64px;
			}
		}
		#about-more {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 200px;
			height: 64px;
			flex-shrink: 0;
			border-radius: 31px;
			background: var(--Purple);
			cursor: pointer;
			#about-more-text {
				color: var(--White);
				font-family: Poppins;
				font-size: 20px;
				font-style: normal;
				font-weight: 600;
				line-height: 115%; /* 23px */
				letter-spacing: -0.4px;
			}
		}
	}
	.about-graphic-container {
		position: relative;
		width: 986px;
		height: 986px;
		flex-shrink: 0;
		.about-graphic {
			position: absolute;
			z-index: 10;
			display: flex;
			width: 986px;
			height: 986px;
			flex-shrink: 0;
			background-image: url('../images/about-graphic.png');
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
		}
		.about-graphic-background {
			position: absolute;
			display: flex;
			z-index: 1;
			width: 938px;
			height: 938px;
			flex-shrink: 0;
			background-image: url('../images/rings.svg');
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
		}
	}
}
.game-play-container {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	margin-bottom: 146px;
	#game-play-section-title {
		color: var(--Purple);
		text-align: center;
		font-family: Poppins;
		font-size: 18px;
		font-style: normal;
		font-weight: 500;
		line-height: 115%; /* 20.7px */
		letter-spacing: -0.36px;
		margin-bottom: 16px;
	}
	#game-play-section-sub-title {
		color: var(--Black);
		text-align: center;
		font-family: Poppins;
		font-size: 60px;
		font-style: normal;
		font-weight: 700;
		line-height: 115%; /* 69px */
		letter-spacing: -1.2px;
		margin-bottom: 77px;
	}
	.screens-container {
		display: flex;
		flex-direction: row;
		position: relative;
		width: 1368px;
		height: 916.356px;
		.game-screen {
			display: flex;
			position: absolute;
			flex-shrink: 0;
			background-size: contain;
			background-repeat: no-repeat;
		}
		#screen-one {
			width: 394.951px;
			height: 792.356px;
			flex-shrink: 0;
			z-index: 1;
			background-image: url('../images/game_play_1.png');
			left: 0px;
			top: 102px;
		}
		#screen-two {
			width: 401px;
			height: 795px;
			flex-shrink: 0;
			z-index: 5;
			background-image: url('../images/game_play_2.png');
			left: 273px;
			top: 51px;
		}
		#screen-three {
			width: 385px;
			height: 811px;
			flex-shrink: 0;
			z-index: 10;
			background-image: url('../images/game_play_3.png');
			left: 474px;
			top: 0;
		}
		#screen-four {
			width: 365px;
			height: 799px;
			flex-shrink: 0;
			z-index: 5;
			background-image: url('../images/game_play_4.png');
			left: 768px;
			top: 51px;
		}
		#screen-five {
			width: 356.469px;
			height: 797.569px;
			flex-shrink: 0;
			z-index: 1;
			background-image: url('../images/game_play_5.png');
			left: 1011px;
			top: 102px;
		}
	}
}
.blog-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 1320px;
	margin-left: 300px;
	margin-bottom: 79px;
	#blog-section-title {
		color: var(--Purple);
		text-align: center;
		font-family: Poppins;
		font-size: 18px;
		font-style: normal;
		font-weight: 500;
		line-height: 115%; /* 20.7px */
		letter-spacing: -0.36px;
		margin-bottom: 14px;
	}
	#blog-section-subtitle {
		color: var(--Black);
		text-align: center;
		font-family: Poppins;
		font-size: 60px;
		font-style: normal;
		font-weight: 700;
		line-height: 115%; /* 69px */
		letter-spacing: -1.2px;
		margin-bottom: 17px;
	}
	#blog-section-desc {
		color: var(--Gray);
		text-align: center;
		font-family: Poppins;
		width: 1044px;
		height: 69px;
		flex-shrink: 0;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 168.5%; /* 26.96px */
		letter-spacing: -0.64px;
		margin-bottom: 77px;
	}
	.recent-blog-articles-container {
		display: flex;
		flex-direction: row;
		position: relative;
		width: 1320px;
		justify-content: space-between;
		.article {
			width: 636px;
			height: 640px;
			position: relative;
			flex-shrink: 0;
			background-color: var(--White);
			border-radius: 20px;
			border: 1px solid #ccc;
			background: var(--White);
			cursor: pointer;
			.article-featured-image {
				position: relative;
				width: 636px;
				height: 300px;
				flex-shrink: 0;
				border-radius: 20px 20px 0px 0px;
				background: var(--LGray);
				margin-bottom: 60px;
				.article-date {
					display: flex;
					justify-content: center;
					align-items: center;
					position: absolute;
					top: 276.91px;
					left: 51px;
					width: 169.877px;
					height: 43.938px;
					flex-shrink: 0;
					border-radius: 31px;
					background: var(--Purple);
					color: #fff;
					text-align: center;
					font-family: Roboto;
					font-size: 20px;
					font-style: normal;
					font-weight: 700;
					line-height: 115%; /* 23px */
					letter-spacing: -0.4px;
				}
			}
			.article-text-container {
				display: flex;
				flex-direction: column;
				padding-left: 51px;
				.article-title {
					width: 438px;
					height: 75px;
					flex-shrink: 0;
					color: var(--Black);
					font-family: Poppins;
					font-size: 30px;
					font-style: normal;
					font-weight: 600;
					line-height: 115%; /* 34.5px */
					letter-spacing: -0.6px;
					margin-bottom: 17px;
				}
				.article-snippet {
					width: 519px;
					height: 83px;
					flex-shrink: 0;
					color: var(--Gray);
					font-family: Poppins;
					font-size: 16px;
					font-style: normal;
					font-weight: 400;
					line-height: 168.5%; /* 26.96px */
					letter-spacing: -0.64px;
					margin-bottom: 33.71px;
				}
				.article-read-more {
					width: 105.655px;
					height: 17.371px;
					flex-shrink: 0;
					color: var(--Black);
					font-family: Poppins;
					font-size: 16px;
					font-style: normal;
					font-weight: 500;
					line-height: 115%; /* 18.4px */
					letter-spacing: -0.32px;
				}
			}
			.article-shadow {
				display: none;
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				flex-shrink: 0;
				border-radius: 20px;
				border: 1px solid #ccc;
				bottom: -4px;
				background: var(--Purple);
				box-shadow: 0px 18px 32px 3px rgba(0, 0, 0, 0.13);
			}
		}
		.article.active {
			.article-shadow {
				display: block;
				z-index: -1;
			}
		}
	}
}
footer {
	flex: 0 0 100%;
	display: flex;
	flex-direction: column;
	background: var(--Black);
	color: var(--White);
	.footer-top {
		display: flex;
		flex-direction: row;
		position: relative;
		height: 355px;
		margin-top: 82px;
		margin-left: 297px;
		margin-right: 299px;
		border-bottom: solid 0.5px var(--Gray);
		.mindazzle-footer-sect {
			display: flex;
			flex-direction: column;
			width: 341px;
			height: 126px;
			flex-shrink: 0;
			.logo {
				margin-bottom: 26px;
			}
			#footer-mission-statement {
				color: var(--LGray);
				font-family: Poppins;
				font-size: 16px;
				font-style: normal;
				font-weight: 500;
				line-height: 168.5%; /* 26.96px */
				letter-spacing: -0.64px;
				margin-bottom: 24px;
			}
			.socials {
				display: flex;
				width: 244px;
				height: 46px;
				flex-shrink: 0;
				cursor: pointer;
				#combined-socials {
					width: 244px;
					height: 46px;
					flex-shrink: 0;
					background-image: url('../images/combined_socials.svg');
					background-repeat: no-repeat;
					background-size: cover;
				}
				#facebook {
				}
				#twitter {
				}
				#pinterest {
				}
				#instagram {
				}
			}
		}
		.useful-links {
			display: flex;
			flex-direction: column;
			width: 160px;
			margin-left: 200px;
			#useful-links-title {
				color: var(--White);
				font-family: Poppins;
				font-size: 20px;
				font-style: normal;
				font-weight: 600;
				line-height: 168.5%; /* 33.7px */
				letter-spacing: -0.8px;
			}
			.footer-link-container {
				.footer-link {
					color: var(--LGray);
					font-family: Poppins;
					font-size: 16px;
					font-style: normal;
					font-weight: 500;
					line-height: 256%; /* 40.96px */
					letter-spacing: -0.64px;
					text-decoration: none;
				}
			}
		}
		.support-links {
			display: flex;
			flex-direction: column;
			width: 160px;
			margin-left: 99px;
			#support-links-title {
				color: var(--White);
				font-family: Poppins;
				font-size: 20px;
				font-style: normal;
				font-weight: 600;
				line-height: 168.5%; /* 33.7px */
				letter-spacing: -0.8px;
			}
			.footer-link-container {
				.footer-link {
					color: var(--LGray);
					font-family: Poppins;
					font-size: 16px;
					font-style: normal;
					font-weight: 500;
					line-height: 256%; /* 40.96px */
					letter-spacing: -0.64px;
					text-decoration: none;
				}
			}
		}
		.footer-contact-info {
			display: flex;
			flex-direction: column;
			width: 214px;
			margin-left: 147px;
			#footer-contact-info-title {
				font-family: Poppins;
				font-size: 20px;
				font-style: normal;
				font-weight: 600;
				line-height: 168.5%; /* 33.7px */
				letter-spacing: -0.8px;
			}
			.contact-info {
				color: var(--LGray);
				font-family: Poppins;
				font-size: 16px;
				font-style: normal;
				font-weight: 500;
				line-height: 256%; /* 40.96px */
				letter-spacing: -0.64px;
			}
		}
	}
	.footer-bottom {
		display: flex;
		justify-content: center;
		margin-left: 772px;
		margin-right: 771px;
		margin-bottom: 15px;
		#copy-right {
			text-align: center;
			font-family: Poppins;
			font-size: 16px;
			font-style: normal;
			font-weight: 500;
			line-height: 256%; /* 40.96px */
		}
	}
}

@media screen {
	@media (max-width: 1919px) {
		nav {
			margin-top: 41px;
			margin-left: 0px;
			margin-right: 0px;
			.nav-sub-container {
				margin: 0 5%;
			}
		}
		main {
			.call-to-action-container {
				margin-left: 10%;
				margin-bottom: 10px;
				.call-to-action {
					width: 40%;
					.call-to-action-title {
						font-size: 55px;
						width: 100%;
					}
					.call-to-action-desc {
						font-size: 15px;
					}
					.call-to-action-buttons {
						.ios-button {
							display: flex;
							align-items: center;
							width: 230px;
							height: 50px;
							border-radius: 28px;
							background-position: 25px 12px;
							font-size: 16px;
							#apple-download-text {
								margin-left: 50px;
							}
						}
						.android-button {
							width: 250px;
							height: 50px;
							border-radius: 28px;
							background-position: 25px 12px;
							font-size: 16px;
							margin-left: 20px;
							#android-download-text {
								margin-left: 56px;
							}
						}
					}
				}
				.game-illustrations {
					width: 60%;
					height: 708px;
					.game-two-container {
						width: 650px;
						height: 780px;
						background-size: contain;
						left: -120px;
					}
					.game-one-container {
						position: absolute;
						width: 600px;
						height: 830px;
						left: 140px;
						top: 20px;
						background-size: contain;
					}
				}
			}
			.stats-container {
				.stats {
					.stats-category {
						padding: 20px 80px;
						.stats-digit {
							font-size: 55px;
						}
						.stats-label {
							font-size: 18px;
						}
					}
				}
			}
			.portfolio {
				width: 90%;
				height: 647.001px;
				margin: 0 5%;
				flex-shrink: 0;
				.portfolio-header {
					margin-bottom: 27px;
					#portfolio-title {
						font-size: 55px;
						margin-bottom: 17px;
					}
					#portfolio-title-desc {
						font-size: 16px;
					}
				}
			}
		}
		footer {
		}
	}
}
