@import url('./home.css');
@import url('./portfolio-slider.css');

:root {
	--Purple: #7a14ff;
	--Black: #1e1e1e;
	--Gray: #808086;
	--LGray: #d4d4d4;
	--White: #ffffff;
}

body {
	background-image: url('../images/home_background.svg');
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0;
	margin: 0;
}
main {
	display: flex;
	flex-direction: column;
	width: 1920px;
	background-color: transparent;
	overflow: hidden;
}
.hidden {
	display: none;
}
