:root {
	--Purple: #7a14ff;
	--Black: #1e1e1e;
	--Gray: #808086;
}
body {
	background-image: url('../images/home_background.svg');
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	justify-content: center;
	align-items: center;
}
main {
	width: 1920px;
	height: 7224px;
	background-color: transparent;
	overflow: hidden;
}
